@model List<practica.EF.MVC.Models.EmployeesView>

@{
    ViewBag.Title = "Employees Page";
}

<h1>Employees Table</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col"> Employee_Id </th>
            <th scope="col"> First_Name </th>
            <th scope="col"> Last_Name </th>
            <th scope="col"> Action </th>            
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model)
        {
        <tr>
            <th scope="row">@employee.EmpId</th>
            <td>@employee.EmpFirstName</td>
            <td>@employee.EmpLastName</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = employee.EmpId },
                    new { onclick = "return confirm('Are you sure you want to delete the selected employee?')" })            
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = employee.EmpId })           
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="btn btn-success">
    @Html.ActionLink("Add New Employee", "Insert")
</div>
